@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.section-button {
    font-weight: 600;
    color: black;
    transition: 0.5s;
}
.section-button:hover {
    color: white;
    transition: 0.2s;
}

.media-image {
    transition: 0.2s;
}

.media-image:hover {
    transform: scale(1.05);
    transition: 0.5s;
}